body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  display: inline-block;
  max-height: 100vh;
  min-height: 100vh;
}

.footer {
  background: #2f343a;
  color: #9ca3af;
  /* padding: 1rem; */
  margin-top: auto;
  text-align: center;
  font-size: 0.875rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
.footer b {
  color: #3498db;
}

.status {
  margin-top: 10px;
  font-size: 1rem;
}

.status-running {
  color: #ff9900;
}

.status-completed {
  color: #4caf50;
}
.status-error {
  color: #f44336;
}

.last-run {
  /* font-size: 14px; */
  color: #666;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
