:root {
  --primary-color: #3498db;
  --secondary-color: #1a1d23;
  --background-color: #f7fafc;
  --text-color: #6b7280;
  --font-family: Arial, sans-serif;
  --font-size-sm: 0.75rem;
  --font-size-md: 0.875rem;
  --font-size-lg: 1rem;
  --border-radius: 0.25rem;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  --clear-button-bg: #fa7070;
  --clear-button-hover-bg: #ffbbbb;

  --title-height: 80px;
  --title-bg-color: rgb(0, 37, 87);
  --title-text-color: rgb(255, 255, 255);

  --nav-height: 50px;
  --nav-bg-color: rgb(0, 0, 0);
  --nav-bg-color-active: rgb(49, 69, 94);

  --footer-height: 50px;
  --footer-bg-color: rgb(0, 37, 87);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* Title */
.title-panel {
  display: flex;
  align-items: center;
  height: var(--title-height);
  background-color: var(--title-bg-color);
  text-decoration: none;
}

.title-panel h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--title-text-color);
  padding-left: 2rem;
  margin: 0;
  text-decoration: none;
}

/* Footer */
.footer {
  background: var(--footer-bg-color);
  color: #9ca3af;
  margin-top: auto;
  text-align: center;
  font-size: 0.875rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
}
