<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ModScout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_index.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="title-panel header">
        <a href="/" style="text-decoration: none;">
            <h1>ModScout: The Lmod Module System Browser</h1>
        </a>
        <div style="display: flex; flex-direction: column; align-items: flex-end; margin: 2rem;">
        </div>
    </div>
    <div class="container">
        <h2>Select an HPC system to explore the modules</h2>
        <div id="main-nav-grid" class="main-nav-grid"></div>
        <div class="update-status" id="status-display"></div>
        <div class="info-container">
            <a href="" class="info-btn">ℹ️ More information </a>
        </div>
    </div>
    <footer class="footer">
        <p>Copyright 2026 &copy;</p>
    </footer>
</body>
</html>